@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');


.contenedor {
  display: flex;
}
.contenedor {
  padding: 10px;
  margin-top: 160px;
}

.about img {
  height: 70vh;
  border-radius: 10px;
}

.texto {
  padding: 0 20px 0 20px;
  display: flex;
  flex-flow: column;
  gap: 15px;
}

.texto .titulo {
  font-size: 25px;
  color: #454848;
  font-family: "Kodchasan", sans-serif;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

.texto .cuerpo {
  margin-top: 40px;
  text-align: justify;
  font-size: 25px;
  font-family: "Dosis", sans-serif;
}

.texto .saludo {
  margin-top: 50px;
  text-align: left;
  font-family: "Dosis", sans-serif;
  font-size: 25PX;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

}
.logo-img {
  width: 10%;
}