.ingreso-container{
    margin-top: 160px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.btn1 {
    margin-left: 1em;
    margin-bottom: 2em;
    border: none;
    border-radius: 10px;
    background-color: #a1dd70;
    font-size: 14px;
    padding: 8px;
    
}

.btn1:hover{
    background-color: #f6eec9;
}