@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');



.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 0;
  width: 400px;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  margin: 10px;
  display: flex;
  flex-direction: column;
  font-family: "Dosis", sans-serif;
}

.card-header {
  height: 250px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: auto;
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.card-title {
  text-align: center;
  color: #ff0a78;
  font-size: 30px;
  padding: 5px;
  font-weight: bold;
}

.card-description {
  flex-grow: 1;
  text-align: justify;
  padding: 5px;
  font-size: 20px;
}

.card-items {
  display: flex;
  justify-content: space-between;
}
.card-items h5 {
  font-size: 18px;
  font-weight: bold;
}

.btn {
  background-color:  #454848
  
  
  ;
  font-weight: bold;
  display: block;
  padding: 5px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 8px;
}
.btn:hover {
  background-color: rgb(46, 177, 164);
}

.diponible {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

.btn-disponible {
  font-weight: bold;
  border: none;
  color:  #37cb39;
  padding: 8px;
  margin-bottom: 35px;
  border-radius: 50%;
  font-size: 20px;
}

.btn-reservado {
  font-weight: bold;
  border: none;
  color: #fc5e3b;
  padding: 8px;
  margin-bottom: 35px;
  border-radius: 50%;
  font-size: 20px ;
}
