@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Wix+Madefor+Display:wght@400..800&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kodchasan:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Wix+Madefor+Display:wght@400..800&family=Wix+Madefor+Text:ital,wght@0,400..800;1,400..800&display=swap");

.Footer {
  font-family: "Wix Madefor Text", sans-serif;
  height: 30vh;
  background-color: #454848;
  text-align: center;
  margin-top: auto;
  padding: 10px;
}
.row {
  padding-top: 10px;
}

.copy {
  display: flex;
  justify-content: flex-end;
  flex-flow: column;
  color: white;
  
}
.copy .city {
  font-size: 18px;
}
.copy .brand {
  font-family: "Kodchasan", sans-serif;
  font-size: 18px;
  color:  rgb(98, 203, 179);
}

.derechos{
  font-size: 18px;
}

.tel {
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
}
.tel .horas {
  font-size: 18px;
}
.tel .ventas {
  font-weight: bold;
  color:  rgb(98, 203, 179);
}

.tel p {
  margin-bottom: 0;
  color: white;
  font-size: 18px;
}

.social {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 15px;
  color: white;
  font-size: 25px;
}
.social a {
  color:  rgb(98, 203, 179);
}

.social i:hover {
  color: white;
}

.icon{
  color:  rgb(98, 203, 179);
}

.suscribe {
  background-color: #cfd7da;
  margin-top: 3vh;
  margin-bottom: 4vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 10px;
  border-radius: 5px;
}

.suscribe i {
  font-size: 25px;
}
.suscribe button {
  margin-left: 15px;
  padding: 5px;
  background-color: #b3c8cf;
  border-radius: 30px;
}
.suscribe button:hover {
  background-color: #75cfb8;
}

.suscribe input {
  width: 300px;
  padding: 6px;
  border-radius: 4px;
  border: none;
  font-size: 14px;
}
