.tabla-container{
   margin-top: 1rem; 
  
  
}
.tabla {
    width: 40%;
    text-align: center;
    margin-bottom: 20px;
}

.tabla-head {
    background-color: black;
    color: white;
    
}

.tabla-btn-edit,.tabla-btn-del {
    padding: 4px;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    
}
.btn-add-tipo {
   display: flex;
   gap: 1rem;
   align-items: center;
   font-size: 1rem; 
   width:20%;
   padding: 1rem;
}

.tabla-btn-edit {
    background-color: cornflowerblue;
}

.tabla-btn-del {
    background-color: brown;
}